body {
    align-items: center;
    background-color: #a6e7ff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
}

#container {    
    background-color: #4682b4;
    border: 4px solid black; 
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.75rem;
    justify-content: center;
    margin-top: 75px;
    max-height: 100vh;
    max-width: 25%;
    padding: 20px 5px;
}

#textboxContainer {
    margin-top: 10px;
    width: 85%;
}

#textDisplay {
    background-color: white;
    border: 3px solid black;
    border-radius: 8px;
    height: 65%;
    margin: 5px auto;
    pointer-events: none;
    text-align: right;
}

#textDisplay p {
    margin-right: 7px;
}


#clearButton, #deleteButton {
    background-color: #838996;
    border: 2px solid black;
    border-radius: 5px;
    color: #b31b1b;
    font-size: 1.75em;
    margin: 10px;
    width: 41.5%;
}
#clearButton:hover, #deleteButton:hover {
    background-color: #778899;
}


.numberButton {
    font-size: 1.4em;
    margin: 7px;
    padding: 4px;
    width: 20%;
}

.operatorButton, #buttonEquals {
    font-size: 1.4em;
    margin: 7px;
    padding: 4px;
    width: 20%;
}